.background {
    background-image: url("../accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.block-site {
    transform-style: preserve-3d;
    perspective: 300px;
    transform: rotateX(60deg) translateY(-130vh);
    opacity: 0.05;
}
