.mask{
    mask-image: url(../mask.png);
    mask-position: center;
    mask-size: 85%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../mask.png);
    -webkit-mask-position: center;
    -webkit-mask-size: 85%;
    -webkit-mask-repeat: no-repeat;
}
#articles img{
    transition: all ease-in-out 0.5s;
    filter: grayscale(1);
}
#articles img:hover{
    filter: none;
}
